* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
.banner{
    position: relative;
    overflow: hidden;
}

.banner img{
    /* width: 100%; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -111;
    
    
}

.banner-title{
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(26px,6vw,40px);
    text-align: right;
    color: white;
    margin-top: 200px;
    margin-bottom: 50px;
}

.banner .content-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

@media (width <= 480px){
    .banner .content-container {
       padding: 0 20px
    }
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

@media (width <= 1024px){
    .content {
        margin: 0 auto;
    }
}

/* Timer */

.time-counter-container {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

.counter-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: #B07C2E;
    width: 130px;
}

@media (width <= 480px ){
    .counter-time {
        padding: 6px;
        width: unset;
    }
}

.counter-date-container {
    max-width: 615px;
    margin-left: auto;
}

@media (width <= 768px){
    .counter-date-container {
        margin: 0 auto
    }
}

/* Date */
.date-container,
.venue-container {
    display: flex;
    align-items: center;
    gap: 36px;
    margin-top: 130px;
}

.date,
.venue{
    font-family: 'Open Sans';
    color: white;
    font-size: 32px;
    font-weight: 700;
}

.number {
    font-family: Open-sans;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 40px;
}

.text{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: white;
}

