* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}
.banner{
    position: relative;
    overflow: hidden;
    height: 110vh
}

.banner:before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.55);
    z-index: -1;
}

.banner img, video{
    /* width: 100%; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -111;
    
    
}

.banner-title{
    font-family: 'Open Sans', sans-serif;
    font-size: clamp(26px,6vw,40px);
    text-align: right;
    color: white;
    margin-top: 200px;
    margin-bottom: 50px;
}

@media (width <= 480px){
    .banner-title {
        margin-top: 68px;
    }
}

.banner .content-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

@media (width <= 480px){
    .banner .content-container {
       padding: 0 20px
    }
}

.content {
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-left: auto;
}

@media (width <= 1024px){
    .content {
        margin: 0 auto;
        width: unset;
    }
}

/* Timer */

.time-counter-container {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
}

.counter-time {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 6px 6px 20px 20px;
    background-color: #B07C2E;
    width: 130px;
}

@media (width <= 480px ){
    .counter-time {
        padding: 6px;
        width: 80px;
    }
}

.counter-date-container {
    max-width: 615px;
    margin-left: auto;
}

/* Date */
.date-container,
.venue-container {
    display: flex;
    align-items: center;
    gap: 36px;
    margin-top: 130px;
}
@media (width <= 480px){
    .date-container,
    .venue-container {
        margin-top: 26px;
    }
}

.date,
.venue{
    font-family: 'Open Sans';
    color: white;
    font-size: clamp(21px,3vw,32px);
    font-weight: 700;
    
}

.number {
    font-family: Open-sans;
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: clamp(20px,7vw,40px);
}

.text{
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    color: white;
}

